@import url('https://fonts.googleapis.com/css?family=Russo+One');

body {
	background: url("images/highway_bg.jpg") no-repeat fixed center;
}


.errorBox h1 {
	font-family: 'Russo One', sans-serif;
	text-align: left;
	font-weight: 100px;
	margin-top: 100px;
	text-transform: uppercase;
	color: #ddd;
	font-size: 7em;

}

.errorBox{
	max-width: 50%; 
	margin-left: 50px; 
}


.successBox h1{
	max-width: 40%;
	font-size: 4em;
	color: #458756;
	background-color: #458269;

}


@media screen and (min-width: 1400) and (min-height: 1050px) {
	body {
	background: #2c3e50; }

	.errorBox h1 {
	font-size: 10em;
	}


	.successBox h1 {
	font-size: 7em;
	}

}