

h1, h2 {
	text-align: center;
}


.modal {

	display: none;
	position: fixed;
	z-index: 1; /* Means on top*/
	padding-top: 200px ;
	left: 0; 
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* enables scrolling */
	background-color: rgba(0,0,0,0.4); 
}


.modal-content {
	background-color: #ecf0f1;
	width: 80%;
	margin: auto;
	border: 1px solid #888;
	padding: 50px; 
}



.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}


#entryPanel, #exitPanel {
	margin-top: 50px;
	margin-bottom: 100px;

}


@media only screen and (max-width: 380px)  {
	button {
		font-size:  10px !important ;
}

#checkTicket, #getTicket {
	padding: 50px	 !important;
}


h2 {
	margin-top: 50px !important;
	margin-bottom: 50px;
}

#adminJumbotron {
	background-image: url('/webProject/res/css/images/highway_bg2.jpg') !important;
}