*{
	margin:0;
	padding:0;
	
}
a{
	text-decoration:none;
	color: inherit;
}
a:hover {
	text-decoration:underline;
	color:red;
}
 
#npara{

	padding-left: 50%;
	float: left;
	padding-bottom:20px;
	width:100%;
	
	 text-align:center; 

}


.para{
	
	font-size:30px;
	font-family:Verdana;
	text-align:center;
	 
	
}
