*{
	margin:0;
	padding:0;
	
}
a{
	text-decoration:none;
	color: inherit;
}
a:hover {
	text-decoration:underline;
	color:red;
}
 

.para{
	
	font-size:30px;
	font-family:Verdana;
	text-align:center;
	 
	
}
